extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    ul
    li
      a(href="/employees") Employee List
    li
      a(href="/logout") Logout
